h1{
    font-size: 32px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-weight: bold;
}

header,section,  article, hgroup, p{
    display:block;

}

body{
    text-align: center;
    background: gray;
}
